.homeParent {
  padding: 0 5vw;
  margin-top: 15vh;
}

.homeMain1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .homePara {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 0.3vw;
    margin-left: 3vw;
    margin-right: 3vw;
    color: #bdb7b7;
    font-size: 1vw;
    font-family: var(--font-sourceCode);
  }

  .homePara .homeBox {
    height: 2vh;
    width: 1vw;
    background-color: #c778dd;
    margin-right: 0.5vw;
  }
}

.homeIntro {
  display: flex;
  flex-direction: column;
  gap: 15vh;
  flex: 8;
  h1 {
    font-size: 44px;
    font-family: var(--font-taurus);
    line-height: 52px;

    span {
      color: #c778dd;
    }
  }

  p {
    font-size: 40px;
    color: grey;
    font-family: var(--font-barcode);
  }

  a {
    font-size: 18px;
    width: fit-content;
    padding: 0.2vw 0.4vw;
    color: #c778dd;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 0vh 1vh 1vh;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--font-sourceCode);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.homeQuote-parent {
  position: relative;
  width: fit-content;

  .homeFormatQuoteTop {
    color: #bdb7b7;
    position: absolute;
    margin-left: 2vw;
    margin-top: -1.5vh;
    transform: scaleX(-1);
    font-size: 24px;
  }

  .homeQuote {
    color: white;
    font-size: 26px;
    border: 1px solid #bdb7b7;
    padding: 1vh 1vw;
    font-family: var(--font-sourceCode);
  }

  .homeFormatQuoteBottom {
    color: #bdb7b7;
    position: absolute;
    margin-top: -1.5vh;
    font-size: 24px;
    right: 2vw;
  }
}

.homeImg {
  flex: 3;
}
@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeIntro {
    margin-top: 4vh;
    font-size: 4vw;
    margin-left: 8vw;
    margin-right: 2vw;
  }
  .homeIntro p {
    margin-top: 0.5vh;
    font-size: 3.5vw;
    margin-right: 0;
  }
  .homeIntro h1 {
    font-size: 4vw;
  }
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeImg {
    margin: 0vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }
  .homeImg img {
    width: 70vw;
  }
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeContact {
    width: 21vw;
    font-size: 3vw;
    margin: 0;
    box-shadow: 0vh 0.5vh 0.5vh;
  }
}

.homeMain2 {
  position: relative;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeMain2 {
    margin-top: 0;
  }
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeFormatQuoteTop {
    margin-top: -1.2vh;
  }
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeQuote {
    font-size: 2.5vw;
  }
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeFormatQuoteBottom {
    margin-top: -1.2vh;
  }
}

.homeProjectPadding {
  padding-top: 3vh;
}

.homeSideBox {
  color: white;
  border: 1px solid #bdb7b7;
  padding: 2vw;
  margin-top: 10vh;
  margin-left: 90vw;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeSideBox {
    padding: 4vw;
    margin-top: 17vh;
  }
}

.homeHead {
  display: flex;
  align-items: center;
  color: white;
  font-family: Fira Code;
  margin-top: 10vh;
  margin-bottom: 5vh;
  font-size: 2vw;
  font-weight: 600;
  font-family: var(--font-poppins);
}

.homeHead span {
  color: #c778dd;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeHead {
    font-size: 5vw;
    margin-left: 5vw;
    margin-top: 3vh;
  }
}

.homeDash {
  border-top: 1px solid #c778dd;
  width: 36vw;
  margin-left: 2vw;
}

.homeBorder {
  border: 1px solid #bdbdbd;
  padding: 0.5vw;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  font-size: 1.3vw;
  color: #c778dd;
  position: absolute;
  right: -5vw;
}
.homeBorder span:first-child {
  padding-top: 0;
}
.homeBorder span {
  font-family: var(--font-sourceCode);
  padding-top: 1.5vh;
  font-weight: 700;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeBorder {
    padding: 0%.5;
    font-size: 5vw;
    margin-top: 3vh;
  }
}

.homeContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.homeContainer .profileImage {
  border-radius: 1vw;
  opacity: 0.8;
  box-shadow: 1vw 2vh 2vw slategrey;
  width: 18vw;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5vh;
    margin: 0vw;
    padding: 0;
  }

  .homeContainer img {
    min-width: 80vw;
    max-width: 90vw;
  }
}

.homeAbout {
  text-align: justify;
  color: #abb2bf;
  font-family: var(--font-poppins);
  font-size: 18px;
  width: 70%;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeAbout {
    padding: 5vw;
    margin-top: 2vh;
    font-size: 3vw;
  }
}

.homeViewall {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: lightslategray;
  font-size: 1.2vw;
  font-family: Fira Code;
  margin-left: 30vw;
  font-family: var(--font-sourceCode);
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeViewall {
    display: flex;
    margin: 0;
    margin-left: 10vw;
    font-size: 3vw;
  }
}

.homeViewall:hover {
  color: #c778dd;
  animation: homeTransition 0.3s linear forwards;
}

@keyframes homeTransition {
  100% {
    transform: translateX(0.5vw);
  }
}

.homeMobile {
  display: none;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeMobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.homeDesktop {
  display: block;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeDesktop {
    display: none;
  }
}
