.quickpay-parent {
  padding-top: 15vh;
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;

  @media (max-width: 768px) {
    padding-top: 10vh;
  }
}

.quickpay-head-parent {
  p {
    font-size: 14px;
  }
}
.quickpay-head {
  display: flex;
  align-items: center;
  color: white;
  font-family: var(--font-poppins);
  font-size: 2vw;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 22px;
  }
  span {
    color: #c778dd;
  }
}

.quickpay-dash {
  border-top: 1px solid #c778dd;
  width: 36vw;
  margin-left: 2vw;

  @media (max-width: 768px) {
    width: 45vw;
  }
}

.quickpay-container {
  display: flex;
  justify-content: space-around;
  padding-top: 5vh;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    width: 350px;
    padding-top: 2vh;
  }
}

.quickpay-item {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 120, 221, 0.2);
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  padding: 3vh 1vw;
  border-radius: 1vw;

  @media (max-width: 768px) {
    padding: 2vh 5vw;
  }

  h3 {
    width: 150px;
    padding: 1vh 1vw;
    border-radius: 5vw;
    font-size: 16px;
    font-weight: 800;
    font-family: var(--font-poppins);
    text-align: center;
    transition: all 0.1s ease;

    &:hover {
      width: 200px;
    }
  }

  img {
    border-radius: 1vw;
  }
}
