.homeParent {
  /* height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 100vw; */
  transition: all 0.1s ease-in-out;
}

.homeMain1 {
  /* height: 100vh; */
  /* scroll-snap-align: start; */
  /* position: relative; */
}

.homeIntro {
  margin-top: 15vh;
  margin-left: 10vw;
}

.homeIntro h1 {
  font-size: 2.3vw;
}

.homeIntro h1 span {
  color: #c778dd;
}

.homeIntro p {
  margin-top: 4vh;
  font-size: 2vw;
  color: grey;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeIntro {
    margin-top: 4vh;
    font-size: 4vw;
    margin-left: 8vw;
    margin-right: 2vw;
  }
  .homeIntro p {
    margin-top: 0.5vh;
    font-size: 3.5vw;
    margin-right: 0;
  }
  .homeIntro h1 {
    font-size: 4vw;
  }
}

.homeImg {
  position: absolute;
  right: 2vw;
  margin-top: -40vh;
}

.homeImg img {
  width: 25vw;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeImg {
    margin: 0vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }
  .homeImg img {
    width: 70vw;
  }
}

.homePara {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 0.3vw;
  margin-left: 3vw;
  margin-right: 3vw;
  color: #bdb7b7;
  font-size: 1vw;
}

.homePara .homeBox {
  height: 2vh;
  width: 1vw;
  background-color: #c778dd;
  margin-right: 0.5vw;
}

.homeContact {
  font-size: 1.5vw;
  margin-top: 1vw;
  width: 10vw;
  padding: 0.2vw 0.4vw;
  color: #c778dd;
  font-weight: 600;
  border: 1px solid white;
  box-sizing: border-box;
  box-shadow: 0vh 1vh 1vh;
  cursor: pointer;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeContact {
    width: 21vw;
    font-size: 3vw;
    margin: 0;
    box-shadow: 0vh 0.5vh 0.5vh;
  }
}

.homeMain2 {
  margin-top: 40vh;
  position: relative;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeMain2 {
    margin-top: 0;
  }
}

.homeFormatQuoteTop {
  color: #bdb7b7;
  position: absolute;
  margin-left: 13vw;
  margin-top: -1.5vh;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeFormatQuoteTop {
    margin-top: -1.2vh;
  }
}

.homeQuote {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.8vw;
  margin-top: -20vh;
  border: 1px solid #bdb7b7;
  margin-left: 10vw;
  margin-right: 35vw;
  padding: 1vh;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeQuote {
    font-size: 2.5vw;
  }
}

.homeFormatQuoteBottom {
  color: #bdb7b7;
  position: absolute;
  margin-left: 60vw;
  margin-top: -1.5vh;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeFormatQuoteBottom {
    margin-top: -1.2vh;
  }
}

.homeProjectPadding {
  padding-top: 5vh;
}

.homeSideBox {
  color: white;
  border: 1px solid #bdb7b7;
  padding: 2vw;
  margin-top: 10vh;
  margin-left: 90vw;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeSideBox {
    padding: 4vw;
    margin-top: 17vh;
  }
}

.homeHead {
  display: flex;
  align-items: center;
  color: white;
  font-family: Fira Code;
  margin-left: 10vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
  font-size: 2vw;
  font-weight: 600;
}

.homeHead span {
  color: #c778dd;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeHead {
    font-size: 5vw;
    margin-left: 5vw;
    margin-top: 3vh;
  }
}

.homeDash {
  border-top: 1px solid #c778dd;
  width: 36vw;
  margin-left: 2vw;
}

.homeBorder {
  border: 1px solid #bdbdbd;
  padding: 0.5vw;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  font-size: 1.3vw;
  color: #c778dd;
}

.homeBorder span {
  font-family: Source Code Pro;
  padding-top: 1.5vh;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeBorder {
    padding: 0%.5;
    font-size: 5vw;
    margin-top: 3vh;
  }
}

.homeContainer {
  display: flex;
  margin-right: 10vw;
}

.homeContainer .profileImage {
  border-radius: 1vw;
  opacity: 0.8;
  box-shadow: 1vw 2vh 2vw slategrey;
  width: 18vw;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5vh;
    margin: 0vw;
    padding: 0;
  }

  .homeContainer img {
    min-width: 80vw;
    max-width: 90vw;
  }
}

.homeAbout {
  padding-left: 7.5vw;
  padding-top: 5vh;
  padding-right: 4vw;
  text-align: justify;
  color: #abb2bf;
  font-family: Fira Code;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeAbout {
    padding: 5vw;
    margin-top: 2vh;
    font-size: 3vw;
  }
}

.homeViewall {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: lightslategray;
  font-size: 1.2vw;
  font-family: Fira Code;
  margin-left: 30vw;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeViewall {
    display: flex;
    margin: 0;
    margin-left: 10vw;
    font-size: 3vw;
  }
}

.homeViewall:hover {
  color: #c778dd;
  animation: homeTransition 0.3s linear forwards;
}

@keyframes homeTransition {
  100% {
    transform: translateX(0.5vw);
  }
}

.homeMobile {
  display: none;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeMobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.homeDesktop {
  display: block;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .homeDesktop {
    display: none;
  }
}
