.worksParent {
  padding: 0 5vw;
  padding-top: 15vh;
}
.worksDot {
  position: absolute;
  color: #bdb7b7;
  writing-mode: vertical-lr;
  font-size: 2.5vw;
  display: flex;
}
.worksDot span {
  padding-top: 2vh;
}

.worksHead {
  display: flex;
  align-items: center;
  color: white;
  font-family: var(--font-poppins);
  font-size: 2vw;
  font-weight: 700;
}
.worksHead span {
  color: #c778dd;
}
@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .worksHead {
    font-size: 5vw;
    margin-left: 7vw;
    margin-top: 3vh;
  }
}

.worksBox {
  position: absolute;
  right: 0;
  border: 1px solid #c778dd;
  box-shadow: 0vw 0 2vw 2vw #c778dd;
  padding: 50vh 0vw;
}
@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .worksBox {
    display: none;
  }
}

.worksBox1 {
  position: absolute;
  left: 0;
  border: 1px solid #c778dd;
  box-shadow: 0vw 0vw 2vw 2vw #c778dd;
  padding: 50vh 0vw;
}
@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .worksBox1 {
    display: none;
  }
}

.worksProjectMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1vh;
}

.worksChild {
  margin-top: 5vh;
  color: white;
  font-size: 1.4vw;
  font-weight: 600;
  font-family: var(--font-poppins);
}
.worksChild span {
  color: #c778dd;
}
@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .worksChild {
    font-size: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2vh;
  }
}

.worksChild2 {
  margin-top: 10vh;
  color: white;
  font-size: 1.4vw;
  font-weight: 600;
  font-family: var(--font-poppins);
}
.worksChild2 span {
  color: #c778dd;
}
@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .worksChild2 {
    font-size: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 10vh;
  }
}

.worksProjectsRenderer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 10vh;
  margin-top: 5vh;
  color: white;
  justify-content: space-around;
}
@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .worksProjectsRenderer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0vh;
    justify-content: center;
    align-items: center;
  }
}

.worksProjectContainer {
  border: 1px solid white;
  padding-bottom: 2vh;
  width: 20vw;
  min-height: 40vh;
  height: auto;
  border-radius: 1vw;
  overflow: hidden;
  box-shadow: 0vw 0vh 1vw 0.2vw #c778dd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .worksProjectContainer {
    margin-right: 0;
    box-shadow: -1vh 1vh 1.5vh #c778dd;
    border-radius: 5vw;
  }
}

.worksProjectImage img {
  width: 20vw;
  height: 20vh;
  object-fit: cover;
}
@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .worksProjectImage img {
    width: 80vw;
  }
}

.worksProjectLang {
  border: 1px solid white;
  padding: 0.5vw;
  text-align: center;
  color: #bdb7b7;
  font-family: var(--font-sourceCode);
  font-size: 14px;
}

.worksProjectTitle {
  padding: 1vw;
  font-family: var(--font-poppins);
  font-size: 1.5vw;
  font-weight: 600;
  color: #c778dd;
  text-align: center;
}
@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .worksProjectTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
  }
}

.worksProjectDes {
  padding-bottom: 2vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  font-family: var(--font-sourceCode);
  color: #bdb7b7;
  text-align: center;
  font-size: 12px;
}
@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .worksProjectDes {
    padding-bottom: 2vh;
  }
}

.worksProjectLiveButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #c778dd;
  padding: 0.2vh 2vw;
  border-radius: 1vw;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .worksProjectLiveButton {
    padding: 0.5vh 3vw;
    font-size: 4vw;
  }
}

.worksProjectCachedButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #bdb7b7;
  padding: 0.2vh 1vw;
  border-radius: 1vw;
}

.worksProjectButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
